.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: #16181b;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

label {
  font-size: 13px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}